
.titu{
    background-color: rgb(255, 131, 29);
    color: white;
    font-size: 50px;
    width: 800px;
    height: 110px;
    padding: 30x;
    border: 5px violet solid;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}
*{
    font-size: 20px;
}
.regular{
    background-color: aquamarine;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 40px;
    border: 6px black double;
    align-items: center;
    justify-content: center;
    display: flex
}
body{
    background-color: peachpuff;
}